# Import Library

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [2]:
import datetime as dt
import pandas as pd
import os
import xml.etree.ElementTree as ET

In [3]:
%cd /gdrive/MyDrive/Colab_Weather_API/lib
import new_weather as nw
import weather_dict as wd
from importlib import reload

/gdrive/MyDrive/Colab_Weather_API/lib

In [4]:
reload(nw)

In [5]:
reload(wd)

# LOG

In [6]:
tz = dt.timezone(dt.timedelta(hours=9))
dt_now = dt.datetime.now(tz=tz)
str_now = dt.datetime.strftime(dt_now, '%Y-%m-%d %H:%M:%S')
# print(f"# 작성시간:\t{str_now}")
# print("# 작성자:\t\tjongphago")
# print("# 주제:\t\t함수'change_args' Error")

In [7]:
# 작성시간: 2021-06-28 17:14:19
# 작성자:   jongphago
# 주제:     함수'change_args' Error
"""
문제점:
    - arg_dict를 생성할때 YYYYmmdd 형식으로 저장하여 시간 정보를 무시한다.
    - 함수 change_args를 호출할때 변경해야 하는 시간 값은 정확히 999hrs후 
    값인데, 시간정보가 없어서 특정 시간만큼 추가되는 현상이 발생한다.
    
해결책:
    Alt1:
        - makre_arg_dict 함수를 작성할때 날짜관련 key값이 '년-월-일-시-분' 
        데이터를 모두 갖도록 작성한다
        - 장점: 정확한 시간(ex:999시간 후) 단위로 컨트롤이 가능
        - 단점: 많은 함수를 수정해야 한다. 미리 고생.
    Alt2:
        - 일단위로 K시간을 입력하면 %24 만큼의 시간만 입력 되도록 한다.
        - 장점: 수정할 함수가 적음
        - 단점: 정확한 컨트롤이 어려움. 앞으로 고생.
""" 
pass

# serviceKey 생성

In [8]:
lib_path = os.getcwd()
service_key = nw.get_service_key(lib_path)

# Info Dictionary

In [9]:
call_info = pd.DataFrame(wd.call_dict).transpose()
call_info

                   항목명 항목크기 항목구분     샘플데이터                            항목설명
serviceKey         인증키  100    1       인증키  공공데이터포털에서 발급받은 인증키(URL_Encode)
numOfRows   한_페이지_결과_수    4    0        10         한 페이지 결과 수(Default: 10)
pageNo          페이지_번호    4    0         1              페이지 번호(Default: 1)
dataType        응답자료형식    4    0       XML  요청자료형식(XML/JSON)(Default: XML)
dataCd           자료_코드    4    1      ASOS                        자료 분류 코드
dateCd           날짜_코드    3    1        HR                        날짜 분류 코드
startDt            시작일    8    1  20100101                       조회 기간 시작일
startHh            시작시    2    1         1                       조회 기간 시작시
endDt              종료일    8    1  20100601      조회 기간 종료일((전일(D-1) 까지 제공))
endHh              종료시    2    1         1                       조회 기간 종료시
stnIds           지점_번호    3    1       108                    종관기상관측 지점 번호

##Error dict

In [10]:
error_info = pd.DataFrame(wd.error_dict).transpose()
error_info

                                                 msg           discription
0                                     NORMAL_SERVICE                    정상
1                                  APPLICATION_ERROR             어플리케이션 에러
2                                           DB_ERROR             데이터베이스 에러
3                                       NODATA_ERROR              데이터없음 에러
4                                         HTTP_ERROR               HTTP 에러
5                                    SERVICETIME_OUT           서비스 연결실패 에러
10                   INVALID_REQUEST_PARAMETER_ERROR        잘못된 요청 파라메터 에러
11             NO_MANDATORY_REQUEST_PARAMETERS_ERROR         필수요청 파라메터가 없음
12                          NO_OPENAPI_SERVICE_ERROR  해당 오픈API서비스가 없거나 폐기됨
20                       SERVICE_ACCESS_DENIED_ERROR              서비스 접근거부
21          TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR  일시적으로 사용할 수 없는 서비스 키
22  LIMITED_NUMBER_OF_SERVICE_REQUESTS_EXCEEDS_ERROR       서비스 요청제한횟수 초과에러
30               SERVICE_KEY_IS_NOT_REGISTERED_ERROR          등록되지 않은 서비스키
31                        DEADLINE_HAS_EXPIRED_ERROR            기한만료된 서비스키
32                             UNREGISTERED_IP_ERROR            등록되지 않은 IP
33                               UNSIGNED_CALL_ERROR            서명되지 않은 호출
99                                     UNKNOWN_ERROR                  기타에러

##컬럼명 해석기

In [11]:
asos_columns_info = pd.DataFrame(wd.asos_dict).transpose()
asos_columns_info.head()

                   항목명 항목크기           샘플데이터               설명
numOfRows   한 페이지 결과 수    4               1  한 페이지당 표출 데이터 수
pageNo          페이지 번호    4               1            페이지 수
totalCount    데이터 총 개수   10               1         데이터 총 개수
resultCode    응답메시지 코드    2               0         응답 메시지코드
resultMsg     응답메시지 내용  100  NORMAL SERVICE        응답 메시지 설명

In [12]:
wd.translate(wd.asos_dict, 'ts')

'지면온도'

## 관측소 정보

In [13]:
station_info = pd.DataFrame(wd.station_dict).transpose()
station_info

    stnId  manager
속초     90  강원지방기상청
북춘천    93    춘천기상대
철원     95  강원지방기상청
동두천    98   수도권기상청
파주     99   수도권기상청
..    ...      ...
합천    285    울산기상대
밀양    288    울산기상대
산청    289    창원기상대
거제    294  부산지방기상청
남해    295  부산지방기상청

[95 rows x 2 columns]

# weather_args 생성

In [14]:
arg_dict = nw.make_arg_dict(108, '20210101', '20210601')
arg_dict['_numOfRows']

3648

# Call API

In [15]:
master_df = nw.call(service_key, arg_dict)

In [16]:
# master_df.shape
master_df.head()

                 tm rnum stnId stnNm    ta  ... tsQcflg m005Te m01Te m02Te m03Te
0  2021-01-01 00:00    1   108    서울  -8.3  ...    None   -0.9  -0.7   0.3   1.6
1  2021-01-01 01:00    2   108    서울  -8.7  ...    None   -1.0  -0.8   0.3   1.6
2  2021-01-01 02:00    3   108    서울  -9.1  ...    None   -1.1  -0.8   0.3   1.6
3  2021-01-01 03:00    4   108    서울  -9.3  ...    None   -1.2  -0.9   0.3   1.6
4  2021-01-01 04:00    5   108    서울  -9.3  ...    None   -1.3  -1.0   0.2   1.5

[5 rows x 38 columns]

## Flag 보유 컬럼

In [17]:
flag_columns_list = []
for column in master_df.columns:
    if column.endswith('Qcflg'):
        flag_columns_list.append(column)

In [18]:
flag_list =[columns[:2] for columns in flag_columns_list]

In [19]:
master_df[flag_list]

        ta    rn   ws   wd  hm      pa      ps    ss    ts
0     -8.3  None  1.8  250  66  1016.4  1027.7  None  -6.8
1     -8.7  None  2.4  270  68  1016.4  1027.7  None  -6.9
2     -9.1  None  1.6  270  69  1016.2  1027.5  None  -7.1
3     -9.3  None  1.1  250  70  1016.8  1028.1  None  -7.3
4     -9.3  None  0.3    0  71  1016.2  1027.5  None  -7.5
...    ...   ...  ...  ...  ..     ...     ...   ...   ...
3643  22.4  None  1.4  250  67  1003.5  1013.3   0.0  21.8
3644  21.4  None  3.4  320  75  1003.8  1013.7   0.0  20.6
3645  20.9  None  1.6  320  76  1003.9  1013.8  None  20.0
3646  20.2  None  1.0   50  77  1003.9  1013.9  None  19.3
3647  19.8  None  1.7   50  82  1003.5  1013.5  None  18.9

[3648 rows x 9 columns]